@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');

html {
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $lt-blue;
}

main {
  flex: 2;
  margin: 0 auto;
}

section {
  max-width: 800px;
  margin: 50px auto;
}

label{
  color: #6a6a6a;
}
