@import 'colors';

form {
  border: 1px solid $gray;
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

.button {
  background-color: $white;
  border: 1px solid $lt-blue;
  color: $lt-blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
  width: 100%;
  max-width: 200px;
}

#name {
  background: transparent;
  border: none;
  border-bottom: 1px solid $lt-blue;
}

#urlExample {
  font-size: 12px;
}

.url-results{
  padding-left: 30px;
}

#results-container {
  #results {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    color: $lt-gray;
  }
}

.card {
  border-top: solid 10px $lt-blue;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  background-color: $white;
}
