@import 'colors';

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  background-image: url('https://f.hubspotusercontent10.net/hubfs/3378618/Abstract%20Images/aerial-photograph-of-city-827162.jpg');
  background-size: 100%; 
  background-position: fixed;
  height: 100%;
  min-height: 400px;
//    flex-wrap: wrap;
}
   
  h1 {      
      font-size: 50px;
      letter-spacing: 10px;
      text-transform: uppercase; 
      color: $white;
    }